# user_reviews

In [1]:
from extract import jsongz

#df_original = jsongz.leer_archivo("..\\data\\raw\\user_reviews.json.gz")
df_original = jsongz.leer_archivo("../data/raw/user_reviews.json.gz")

In [2]:
df = df_original.copy()
df.head()

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [4]:
df.shape[0]

25799

El dataframe contiene: 25799 registros

Evaluar los tipos de datos utilizados en las columnas del dataframe

In [5]:
from transform import info

info.mostrar_info_key_types(df)

user_id - {<class 'str'>}
user_url - {<class 'str'>}
reviews - {<class 'list'>}

Recordar que las columnas que contiene valores iguales a "float", podria indica que contine valores nulos.

La columna "reviews" utiliza datos de tipo "list". Hay que desanidarlo.

In [6]:
from transform import normalizar

df = normalizar.desanidar_dataframe(df, ["reviews"])

df.head()

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted November 5, 20..."
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted July 15, 2011...."
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted April 21, 2011..."
3,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted June 24, 2014...."
4,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted September 8, 2..."

Volver a revisar los tipos de datos, para asegurar que no se utilizen estructuras de datos

In [7]:
from transform import info

info.mostrar_info_key_types(df)

user_id - {<class 'str'>}
user_url - {<class 'str'>}
reviews - {<class 'float'>, <class 'dict'>}

Ahora, la columna "reviews" contiene valores de tipo "dict". Hay que expandirlo.

In [8]:
from transform import normalizar

df = normalizar.expandir_columna(df, "reviews")

df.head()

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,http://steamcommunity.com/id/js41637,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,js41637,http://steamcommunity.com/id/js41637,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...

Volver a revisar los tipos de datos, para asegurar que no se utilizen estructuras de datos

In [9]:
from transform import info

info.mostrar_info_key_types(df)

user_id - {<class 'str'>}
user_url - {<class 'str'>}
funny - {<class 'str'>, <class 'float'>}
posted - {<class 'str'>, <class 'float'>}
last_edited - {<class 'str'>, <class 'float'>}
item_id - {<class 'str'>, <class 'float'>}
helpful - {<class 'str'>, <class 'float'>}
recommend - {<class 'bool'>, <class 'float'>}
review - {<class 'str'>, <class 'float'>}

Se elimina las columnas que no son relevantes para los objetivos del proyecto. Esto está desarrollado en una hoja de cálculo, en una matriz de objetivos vs. datos.

https://docs.google.com/spreadsheets/d/1ccOxyOM_yctvpk4-CbpX4kCihNn1rX1QifKjbtov10s/edit?usp=sharing

In [11]:
from transform import limpiar

limpiar.eliminar_columnas_innecesarias(
    df,
    [
        "user_id",
        "user_url",
        "funny",
        "last_edited",
        "helpful",
    ],
)
df.head()

,posted,item_id,recommend,review
0,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...
1,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.
2,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...
3,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...
4,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...

In [10]:
df.shape[0]

59333

Ahora, la cantidad de filas en el dataframe es de: 59333

## Variables
Las que utiliza este daframe son:

### Variables temporales
* posted - variable temporal

### Variables categóricas
* item_id - Es una variable categórica nominal (identificador)
* recommend - variable categórica nominal
* review - variable categóricas nominal

## Manejando la columna "posted"

Cambiaremos el formato de la fecha en "posted"

In [10]:
from datetime import datetime

fecha = "Posted November 5, 2011."

def formatear_fecha(fecha):
    try :
        fecha = datetime.strptime(str(fecha), "Posted %B %d, %Y.")
    except Exception as Error:
        None
    return fecha

df['posted'] = df['posted'].apply(formatear_fecha)

Revisamos la cantidad de registros de fecha con un formato no válido.

In [11]:
df_copy = df.copy()

from datetime import datetime

df_copy = df_copy[df_copy["posted"].apply(lambda x: not isinstance(x, datetime))]

conteo_por_valor = df_copy["posted"].value_counts().to_dict()

print(f"La cantidad de valores diferentes son: {len(conteo_por_valor)}")
df_copy["posted"].value_counts().to_dict()

La cantidad de valores diferentes son: 262

{'Posted June 25.': 83,
 'Posted January 5.': 81,
 'Posted January 3.': 78,
 'Posted August 12.': 72,
 'Posted January 4.': 71,
 'Posted June 24.': 67,
 'Posted August 13.': 65,
 'Posted February 5.': 65,
 'Posted June 26.': 65,
 'Posted January 1.': 64,
 'Posted July 1.': 64,
 'Posted July 4.': 63,
 'Posted May 14.': 62,
 'Posted January 2.': 61,
 'Posted January 22.': 60,
 'Posted July 3.': 60,
 'Posted January 11.': 59,
 'Posted January 10.': 59,
 'Posted March 25.': 59,
 'Posted July 8.': 58,
 'Posted February 26.': 58,
 'Posted January 23.': 58,
 'Posted June 29.': 57,
 'Posted January 16.': 57,
 'Posted April 30.': 56,
 'Posted July 28.': 56,
 'Posted July 10.': 56,
 'Posted March 11.': 55,
 'Posted February 6.': 55,
 'Posted April 12.': 54,
 'Posted January 14.': 54,
 'Posted May 28.': 54,
 'Posted January 20.': 54,
 'Posted January 30.': 54,
 'Posted January 15.': 53,
 'Posted June 27.': 53,
 'Posted January 17.': 53,
 'Posted September 2.': 53,
 'Posted February 13.': 53,
 'Posted January 21.': 52,
 'Posted May 13.': 51,
 'Posted January 24.': 51,
 'Posted January 29.': 50,
 'Posted March 27.': 50,
 'Posted June 30.': 50,
 'Posted March 22.': 50,
 'Posted February 7.': 50,
 'Posted August 28.': 49,
 'Posted January 28.': 49,
 'Posted February 20.': 49,
 'Posted March 28.': 49,
 'Posted August 27.': 49,
 'Posted January 9.': 49,
 'Posted February 12.': 49,
 'Posted February 27.': 49,
 'Posted April 16.': 48,
 'Posted March 6.': 48,
 'Posted June 23.': 48,
 'Posted August 19.': 48,
 'Posted January 6.': 48,
 'Posted January 27.': 47,
 'Posted January 7.': 47,
 'Posted January 25.': 47,
 'Posted April 17.': 46,
 'Posted July 5.': 46,
 'Posted August 29.': 46,
 'Posted January 12.': 46,
 'Posted June 28.': 46,
 'Posted July 2.': 46,
 'Posted February 9.': 46,
 'Posted April 23.': 46,
 'Posted January 8.': 45,
 'Posted March 19.': 45,
 'Posted August 17.': 45,
 'Posted February 10.': 45,
 'Posted March 10.': 45,
 'Posted March 24.': 45,
 'Posted April 9.': 45,
 'Posted July 9.': 45,
 'Posted January 13.': 45,
 'Posted May 17.': 45,
 'Posted May 15.': 45,
 'Posted February 8.': 45,
 'Posted January 19.': 44,
 'Posted September 16.': 44,
 'Posted March 5.': 44,
 'Posted March 14.': 44,
 'Posted February 19.': 44,
 'Posted March 4.': 43,
 'Posted April 24.': 43,
 'Posted March 18.': 43,
 'Posted February 16.': 43,
 'Posted July 7.': 43,
 'Posted January 26.': 43,
 'Posted September 9.': 43,
 'Posted February 24.': 42,
 'Posted May 27.': 42,
 'Posted July 18.': 42,
 'Posted September 17.': 42,
 'Posted June 14.': 42,
 'Posted April 2.': 42,
 'Posted April 20.': 42,
 'Posted August 7.': 41,
 'Posted March 29.': 41,
 'Posted April 1.': 40,
 'Posted July 12.': 40,
 'Posted June 17.': 40,
 'Posted February 1.': 39,
 'Posted August 26.': 39,
 'Posted May 7.': 39,
 'Posted August 6.': 39,
 'Posted July 23.': 39,
 'Posted June 19.': 39,
 'Posted January 18.': 39,
 'Posted August 23.': 39,
 'Posted June 4.': 39,
 'Posted February 2.': 38,
 'Posted July 29.': 38,
 'Posted March 30.': 38,
 'Posted June 3.': 38,
 'Posted March 8.': 38,
 'Posted July 6.': 38,
 'Posted June 18.': 38,
 'Posted April 19.': 37,
 'Posted January 31.': 37,
 'Posted August 20.': 37,
 'Posted May 31.': 37,
 'Posted March 13.': 37,
 'Posted July 24.': 37,
 'Posted April 8.': 36,
 'Posted March 20.': 36,
 'Posted March 23.': 36,
 'Posted February 21.': 36,
 'Posted September 3.': 36,
 'Posted April 11.': 36,
 'Posted March 12.': 36,
 'Posted July 25.': 36,
 'Posted April 3.': 35,
 'Posted June 10.': 35,
 'Posted April 29.': 35,
 'Posted February 4.': 35,
 'Posted June 11.': 35,
 'Posted April 26.': 35,
 'Posted March 3.': 35,
 'Posted July 13.': 35,
 'Posted August 25.': 35,
 'Posted May 24.': 35,
 'Posted July 14.': 35,
 'Posted April 21.': 35,
 'Posted April 18.': 35,
 'Posted February 17.': 35,
 'Posted May 1.': 34,
 'Posted August 9.': 34,
 'Posted April 14.': 34,
 'Posted July 15.': 34,
 'Posted May 20.': 34,
 'Posted June 15.': 34,
 'Posted February 18.': 34,
 'Posted February 11.': 34,
 'Posted April 28.': 33,
 'Posted June 16.': 33,
 'Posted September 11.': 33,
 'Posted July 31.': 33,
 'Posted June 1.': 33,
 'Posted March 26.': 33,
 'Posted July 22.': 33,
 'Posted August 24.': 33,
 'Posted August 16.': 33,
 'Posted July 16.': 33,
 'Posted July 20.': 33,
 'Posted March 16.': 33,
 'Posted April 5.': 33,
 'Posted May 8.': 32,
 'Posted June 2.': 32,
 'Posted April 15.': 32,
 'Posted February 28.': 32,
 'Posted June 21.': 32,
 'Posted March 1.': 32,
 'Posted February 22.': 32,
 'Posted March 21.': 32,
 'Posted May 22.': 32,
 'Posted April 13.': 32,
 'Posted May 23.': 32,
 'Posted May 6.': 32,
 'Posted May 3.': 32,
 'Posted February 23.': 32,
 'Posted March 7.': 31,
 'Posted August 21.': 31,
 'Posted July 30.': 31,
 'Posted May 16.': 31,
 'Posted February 25.': 31,
 'Posted July 21.': 31,
 'Posted April 25.': 31,
 'Posted March 31.': 31,
 'Posted May 30.': 31,
 'Posted February 3.': 30,
 'Posted May 12.': 30,
 'Posted February 15.': 30,
 'Posted June 12.': 30,
 'Posted July 11.': 30,
 'Posted August 5.': 30,
 'Posted August 31.': 30,
 'Posted February 14.': 30,
 'Posted April 22.': 29,
 'Posted August 18.': 29,
 'Posted April 4.': 29,
 'Posted April 6.': 29,
 'Posted April 27.': 29,
 'Posted June 22.': 29,
 'Posted March 17.': 29,
 'Posted August 30.': 29,
 'Posted May 29.': 29,
 'Posted June 5.': 28,
 'Posted May 5.': 27,
 'Posted April 7.': 27,
 'Posted September 15.': 27,
 'Posted August 14.': 27,
 'Posted May 21.': 27,
 'Posted June 6.': 26,
 'Posted March 15.': 26,
 'Posted March 2.': 26,
 'Posted May 9.': 25,
 'Posted May 2.': 25,
 'Posted May 10.': 25,
 'Posted February 29.': 25,
 'Posted May 18.': 25,
 'Posted September 10.': 25,
 'Posted May 25.': 25,
 'Posted July 17.': 25,
 'Posted August 2.': 24,
 'Posted August 15.': 24,
 'Posted April 10.': 23,
 'Posted June 7.': 23,
 'Posted June 20.': 23,
 'Posted September 7.': 23,
 'Posted July 26.': 22,
 'Posted August 22.': 22,
 'Posted September 8.': 22,
 'Posted September 12.': 22,
 'Posted July 27.': 22,
 'Posted March 9.': 22,
 'Posted September 18.': 22,
 'Posted July 19.': 22,
 'Posted June 9.': 22,
 'Posted June 13.': 22,
 'Posted September 5.': 22,
 'Posted September 1.': 21,
 'Posted September 4.': 21,
 'Posted August 8.': 20,
 'Posted May 4.': 20,
 'Posted August 3.': 20,
 'Posted May 11.': 20,
 'Posted May 26.': 20,
 'Posted May 19.': 19,
 'Posted June 8.': 19,
 'Posted August 4.': 19,
 'Posted August 11.': 19,
 'Posted August 1.': 17,
 'Posted September 6.': 17,
 'Posted August 10.': 15,
 'Posted September 14.': 12,
 'Posted September 13.': 10}

Debería continuar analizando los valores de esta columna, pero no dejaré. No son demasiados registros.

Los registros que no son validos los reemplazo por NaT

In [12]:
from datetime import datetime

def reemplazar_fechas_no_validas_por_NaT(x):
    return float('nan') if not isinstance(x, datetime) else x

df["posted"] = df["posted"].apply(lambda x: reemplazar_fechas_no_validas_por_NaT(x))

Verifico la cantidad de registros en "posted" no válidos.

In [13]:
df_copy = df.copy()

from datetime import datetime

df_copy = df_copy[df_copy["posted"].apply(lambda x: not isinstance(x, datetime))]

conteo_por_valor = df_copy["posted"].value_counts().to_dict()

print(f"La cantidad de valores no validos para fecha, diferentes entre si, son: {len(conteo_por_valor)}")
df_copy["posted"].value_counts().to_dict()

La cantidad de valores no validos para fecha, diferentes entre si, son: 0

{}

## Manejando la columna "review"

Primero, reviso los valores diferentes a "str" en la columna.

In [8]:
from transform import info
info.mostrar_info_key_types(df)

posted - {<class 'str'>, <class 'float'>}
item_id - {<class 'str'>, <class 'float'>}
recommend - {<class 'bool'>, <class 'float'>}
review - {<class 'str'>, <class 'float'>}

In [14]:
df_copy = df.copy()

column = "review"
tod = str

df_copy = df_copy[df_copy[column].apply(lambda x: not isinstance(x, tod))]

conteo_por_valor = df_copy[column].value_counts().to_dict()

print(f"La cantidad de valores no validos, diferentes entre si, son: {len(conteo_por_valor)}")
df_copy[column].value_counts().to_dict()

La cantidad de valores no validos, diferentes entre si, son: 0

{}

Como la cantidad de valores no validos, diferentes entre si, es 0. Eso me inidca que los valores de tipo "float" que aparecen al momento de listar los tipos de dato en cada columna, son los registros nulos.

Ahora, se requiere cambiar el contenido de la columna "review" a valores que simplificanran saber si es un comentario positivo, negativo o neutro.

In [15]:
from textblob import TextBlob

def evaluar_review(x):
    if not isinstance(x, str):
        return 0
    else:
        sentiment = TextBlob(x)
        if sentiment.polarity > 0:
            return 1
        elif sentiment.polarity < 0:
            return -1
        else:
            return 0
df["review"] = df["review"].apply(lambda x: evaluar_review(x))

df.head()

      posted item_id recommend  review
0 2011-11-05    1250      True       1
1 2011-07-15   22200      True       1
2 2011-04-21   43110      True       1
3 2014-06-24  251610      True       1
4 2013-09-08  227300      True      -1

## Limpieza

Revisando la cantidad de celdas vacias por columna.

In [16]:
from transform import info

info.celdas_vacias(df)

           Cantidad  Porcentaje
posted        10147    0.171018
item_id          28    0.000472
recommend        28    0.000472
review            0    0.000000

Como la columna "item_id" es un identificador, no deberia tener valores nulos

In [17]:
from transform import limpiar

limpiar.eliminar_filas_por_celdas_vacias_en(df, ["item_id"])

la cantidad de filas en el dataframe es: 59333
despues de eliminar las filas vacias es: 59333

In [ ]:
from transform import limpiar

limpiar.eliminar_filas_vacias(df)

In [18]:
from transform import limpiar

df = limpiar.eliminar_filas_duplicadas(df)

la cantidad de filas en el dataframe es: 59333
despues de eliminar las filas repetidas es: 44301

          posted item_id recommend  review
0     2011-11-05    1250      True       1
1     2011-07-15   22200      True       1
2     2011-04-21   43110      True       1
3     2014-06-24  251610      True       1
4     2013-09-08  227300      True      -1
...          ...     ...       ...     ...
59305        NaT  282660      True       1
59309        NaT  220090      True      -1
59310        NaT  262850      True      -1
59313        NaT  298110     False       0
59314        NaT  431510      True       1

[44301 rows x 4 columns]

Volvemos a revisar las celdas vacias

In [ ]:
from transform import info

info.celdas_vacias(df)

In [12]:
df.shape[0]

59333

Ahora, la cantidad de filas en el dataframe es de:

## Load

In [13]:
df.to_parquet("../data/intermediate/users_reviews.parquet")